<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="static/assets/css/for_email.css">
</head>
<body>
    <div class="container">
        <h1>Contact Me</h1>
        <div class="contact-info">
            <p>Email me at: <a href="mailto:haider.imtiaz38@ee.ceme.edu.pk">haider.imtiaz38@ee.ceme.edu.pk</a></p>
            <p>Phone: <a href="tel:+923445185990">+92 344 5185990</a></p>
        </div>
    </div>
</body>
</html>
